doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='dns-prefetch' href='//polyfill.io')
    link(rel='dns-prefetch' href='//fonts.googleapis.com')
    title Edge &ndash; The fastest, smartest, easiest way to influence
    meta(name='robots' content='noindex, nofollow')
    link(rel='dns-prefetch' href='//ajax.googleapis.com')
    link(rel='dns-prefetch' href='//fonts.googleapis.com')
    link#web-fonts-css(rel='stylesheet' href='https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C500%7CSpace+Grotesk%3A400%2C500%2C700&ver=1.0.0#038;subset=latin%2Clatin-ext&ver=1.0.0' type='text/css' media='all')
    link#main-stylesheet-css(rel='stylesheet' href='http://localhost:8888/Edge-gg/wp-content/themes/Edge-theme/dist/css/cirrus.css?ver=1.0.0' type='text/css' media='all')
    script#jquery-js(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js?ver=1.11.3')
    link(rel='icon' href='http://localhost:8888/Edge-gg/wp-content/uploads/2021/06/favicon.ico' sizes='32x32')
    link(rel='icon' href='http://localhost:8888/Edge-gg/wp-content/uploads/2021/06/favicon.ico' sizes='192x192')
    link(rel='apple-touch-icon' href='http://localhost:8888/Edge-gg/wp-content/uploads/2021/06/favicon.ico')
    meta(name='msapplication-TileImage' content='http://localhost:8888/Edge-gg/wp-content/uploads/2021/06/favicon.ico')
    include blocks/header.pug

    include blocks/footer.pug