// Part of the pitcher github.com/gruncho/stylestree
//
// http://chir.ag/projects/name-that-color/
//
// Use the above URL to obtain the name of the hexadecimals,
// and please, try to order from higher hex value to lower
// hex value.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// basic

$color-white: red;
$color-primary: #F7931A;
