.flash {
  animation: .5s flash .8s ease-in-out both;
}

@keyframes flash {
  0% { 
    opacity: 0;
    transform: translateY(12px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flash_02 {
  animation: .4s flash_02 1.5s ease-in-out both;
}

@keyframes flash_02 {
  0% { 
    opacity: 0;
    transform: translateY(12px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flash_03 {
  animation: .4s flash_03 2.25s ease-in-out both;
}

@keyframes flash_03 {
  0% { 
    opacity: 0;
    transform: translateY(12px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flash_04 {
  animation: .2s flash_04 1s ease-in-out both;
}

@keyframes flash_04 {
  0% { 
    opacity: 0;
    transform: translateY(12px);
  } 
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}

@keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1 } }

@keyframes anim-up { 
	from { opacity: 0; transform: translateY(100px); } 
	to { opacity: 1; transform: translateY(0px); }  
}

// copypaste

@keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1 } }

@keyframes anim-up { 
	from { opacity: 0; transform: translateY(100px); } 
	to { opacity: 1; transform: translateY(0px); }  
}		

@keyframes anim-down { 
	from { opacity: 0; transform: translateY(-100px); } 
	to { opacity: 1; transform: translateY(0px); }  
}		

@keyframes anim-left { 
	from { opacity: 0; transform: translateX(100px); } 
	to { opacity: 1; transform: translateX(0px); }  
}		

@keyframes anim-right { 
	from { opacity: 0; transform: translateX(-100px); } 
	to { opacity: 1; transform: translateX(0px); }  
}		

.anim-up, .anim-down, .anim-left, .anim-right, .anim-fade-in {
	animation-duration: 1s; /* la animacion dura X segundos */
	animation-delay: 0.5s; /* esperamos X segundos antes de hacer la animacion */			
	animation-fill-mode: both; /* aplica estilos de la animacion antes y despues de reproducirla */
}

.anim-up { animation-name: anim-up; }
.anim-down { animation-name: anim-down; }
.anim-left { animation-name: anim-left; }
.anim-right { animation-name: anim-right; }
.anim-fade-in { animation-name: anim-fade-in; }

.anim-pause-2 { animation-delay: 2s; } /* la animacion empieza en 2 seg. */		
.anim-pause-3 { animation-delay: 3s; } /* la animacion empieza en 3 seg. */
.anim-pause-4 { animation-delay: 4s; } /* la animacion empieza en 4 seg. */
.anim-pause-5 { animation-delay: 5s; } /* la animacion empieza en 5 seg. */

/* todas las animaciones pausadas */
.paused * { 
	animation-play-state: paused;
}
