@import "../core/theme.scss";

/* FOOTER */
.footer {
    background-color: $white-dark;
    padding: 2.5rem 0;
    text-align: left;
    margin-top: 5rem;
    width: 100%;

    &.footer--fixed {
        bottom: 0;
        position: fixed; 
    }

    ul .menu-item a, a {
        color: $green-dark;
        @include small-head();
        transition: all 0.3s linear;
        padding: 0;
        line-height: 35px;
        &:hover {
            color: $red;
        }
    }

    p {
        color: $green-dark;
    }

    ul {
        margin: 0.5rem 0; /* Remove the left margin seen in global style */
    }
    .small-text {
        font-size: 14px;
    }

    .partners-logos{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a:link, a:hover, a:active {
            text-decoration: none;
            cursor: pointer;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        img {
            max-width: 85px;
        }
        @include screen-below(sm){
            justify-content: center;
        }
    }
    #footer-logo img{
        width: 150px;
    }
}

#back-top{
    position: fixed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $green-dark;
    color: $red;
    font-size: 18px;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}