/* Error: The target selector was not found.
 * Use "@extend .flash_2 !optional" to avoid this error.
 *    ,
 * 10 |     @extend .flash_2;
 *    |     ^^^^^^^^^^^^^^^^
 *    '
 *   scss/components/_hero.scss 10:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .flash_2 !optional" to avoid this error.\a    \2577 \a 10 \2502      @extend .flash_2;\a    \2502      ^^^^^^^^^^^^^^^^\a    \2575 \a   scss/components/_hero.scss 10:2  root stylesheet';
}
