/* Error: Expected identifier.
 *    ,
 * 17 |       transition: .2s;
 *    |                       ^
 *    '
 *   scss/components/_footer.scss 17:23  @import
 *   scss/main.scss 12:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 17 \2502        transition: .2s;\a    \2502                        ^\a    \2575 \a   scss/components/_footer.scss 17:23  @import\a   scss/main.scss 12:9                 root stylesheet";
}
