.single {
  width: 90%;
  margin: 100px auto;
  max-width: 1280px;
}

.single__title {
  @extend .heading__title;

  padding: 12px 0;
}

.single__info {
  font-size: 18px;
  padding-top: 12px;
  opacity: .5;
  
  span {
    margin-right: 12px;
  }
} 

.single__description {
  font-family: $font-cereal-m;
  font-size: 20px;
  line-height: 28px;
  opacity: .8;
}

.single__content {
  margin: 24px auto;
  max-width: 750px;
  line-height: 26px;
  font-family: $font-cereal-m;

  h2,
  h3,
  h4 {
    margin-top: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  h2,
  h3,
  h4,
  ol,
  ul,
  p {
    margin-bottom: 12px;
  }

  ul {
    list-style-type: disc;
    padding-left: 12px;

    li {
      padding: 8px 0;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: 24px 0;
  }
}