.wrap {
  margin: 100px auto 500px auto;
  width: 90%;
  max-width: 1280px;
}

.day-title {
  font-weight: bold;
  margin: 24px 0 12px 0;
}

.day {
  margin: 24px 0;
  background: #f0f0f0;
  padding: 48px;

  li {
    margin-bottom: 4px;
    background: white;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
  }

  .time {
    flex: 0 1 25%;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .content {
    flex: 0 1 85%;
    opacity: .8;
  }
}