.footer {
  padding: 32px 0;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  max-width: 1280px;
}

.footer__credits {
  font-size: 12px;
  padding-top: 24px;
  opacity: .5;
}

.footer__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  li {
    display: inline-flex;
    margin: 0 12px;
    
    a {
      color: black;
      text-decoration: none;
      opacity: .5;
      transition: .2s;
      
      &:hover {
        opacity: 1;
        text-decoration: underline,
      }
    }
  }
}

@media #{$breakpoints-medium} {
  .footer {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .footer__credits {
    padding-top: 0;
  }
}
