.footer {
  padding: 32px 0;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  max-width: 1280px;
}

.footer__credits {
  font-size: 12px;
  padding-top: 24px;
  opacity: .5;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;

  li.head {
    padding-bottom: 12px;
    color: #191919;
    font-weight: bold;
  }
  li {
    margin: 8px 0;
    
    a {
      color: #494949;
      text-decoration: none;
      transition: .2s;
      
      &:hover {
        opacity: 1;
        text-decoration: underline,
      }
    }
  }
}

@media #{$breakpoints-medium} {
  .footer {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }

  .footer__credits {
    padding-top: 0;
  }
}
