.gallery {
  max-width: 1280px;
  width: 90;
  margin: 48px auto;
  display: flex; 
  flex-flow: row wrap;
}

.gallery__col {
  flex: 0 1  calc( 100%/3 );
  text-align: center;

  img {
    max-width: 90%;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}