$heading-size-mobile: 24px;
$heading-size-medium: 32px;
$heading-size-large: 36px;

.heading {
	align-items: center;
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 80px 0 0 0;
	font-family: $font-cereal-m;
}

.heading__title {
	font-size: $heading-size-mobile;
	font-weight: bold;

	span {
		display: block;
    font-size: 18px;
    padding-top: 12px;
    opacity: .5;
	}
}

.heading__btns {
	display: flex;
	flex-flow: row nowrap;

	a {
		text-decoration: none;
    color: black;
    display: inline-block;
    padding: 12px 16px 10px 16px; // Not run "line-height".
    border-radius: 24px;
    border: 1px solid black;
		transition: .2s;
		margin-right: 12px;
		font-size: 15px;

		&:hover {
			background: black;
			color: white;
		}
	}
}

.heading--bottom {
	margin-bottom: 54px;
}

.heading--entradas {
	flex-flow: column wrap;
	text-align: center;

	.heading__btns {
		margin-top: 16px;
	}
}

.heading__btns--bitcoin {
	background: #F7931A;
	color: white !important;
	border-color: #F7931A !important;

	&:hover {
		background: #F7931A;
		color: white !important;
	}
}

@media #{$breakpoints-medium} {
	.heading--entradas {
		flex-flow: row nowrap;
		text-align: left;

		.heading__btns {
			margin-top: 0;
		}
	}
	
	.heading__title {
		font-size: $heading-size-medium;
		font-weight: bold;
	}	


	.heading__btns {
		a {
			padding: 12px 24px 10px 24px; // Not run "line-height".
		}
	}
}

@media #{$breakpoints-large} {
	.heading__title {
		font-size: $heading-size-large;
		font-weight: bold;
	}	

	.heading__btns {
		a {
			font-size: 16px;
		}
	}
}
