.heading {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 48px 0 24px 0;
}

.heading__title {
    font-size: 48px;
    font-weight: bold;
}