.hero {
	background: black;
	color: white;
	height: 100vh;
}

.hero__content {
	width: 90%;
	margin: auto;
	padding: 48px 0;

	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100%;
}

.hero__message {
	padding: 20vh 0;
}

.hero__header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.hero__logo {
	img {
		max-width: 150px;
		height: auto;
	}
}

.hero__subtitle {
	font-size: 18px;
	font-weight: bold;
	opacity: .5;
	margin-bottom: 24px;
}

.hero__title {
	font-size: 48px;
	max-width: 840px;
}

@media #{$breakpoints-large} {
	.hero__logo {
		img {
			max-width: 224px;
		}
	}
}
