.hero {
	background: black;
	color: white;
	height: 100vh;
}

.hero__content {
	width: 90%;
	margin: auto;
	padding: 48px 0;

	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100%;
}

.hero__message {
	padding: 20vh 0;
}

.hero__header {
	@extend .flash_03;

	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.hero__logo {
	img {
		max-width: 150px;
		height: auto;
	}
}

.hero__subtitle {
	@extend .flash_02;


	font-family: $font-cereal-m;
	font-size: 18px;
	font-weight: bold;
	opacity: .5;
	margin-bottom: 24px;
}

.hero__title {
	@extend .flash;

	font-family: $font-cereal-m;
	font-size: 43px;
	max-width: 840px;
	line-height: 52px;
}

@media #{$breakpoints-medium} {
	.hero__title {
		font-size: 50px;
		line-height: 60px;
	}
}

@media #{$breakpoints-large} {
	.hero__logo {
		img {
			max-width: 224px;
		}
	}

	.hero__title {
		font-size: 50px;
		line-height: 60px;
	}
}

@media #{$breakpoints-xlarge} {
	.hero__title {
		font-size: 60px;
		line-height: 75px;
	}
}
