.hero {
	background: black;
	color: white;
	height: 100vh;
}

.hero__content {
	width: 90%;
	margin: auto;
	padding: 48px 0;
	
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100%;
}

.hero__header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.hero__title {
	font-size: 48px;
}
