.last {
  font-family: $font-cereal-m;
  background: #191919;
  padding: 124px 0;
  color: white;
}

.last__bck {
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;;

  img {
    opacity: .1;

    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 5;
  }
}

.last__content {
  margin: 0 auto;
  width: 90%;
  max-width: 580px;
  z-index: 10;
}

.last__title {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 24px;
}

.last__paragraph {
  font-size: 26px;
  line-height: 35px;
}

.last__p {
  font-size: 20px;
}

.last__numbers {
  margin: auto;
  max-width: 800px;
  padding: 124px 0 48px 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.last__box {
  flex: 0 1 50%;
  margin-bottom: 24px;
}

.last__big {
  font-size: 48px;
  margin-bottom: 5px;
}

.last__small {
  padding-top: 4px;
  font-size: 18px;
  opacity: .5;
}

.last__btn {
  padding: 48px 0;

  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 12px 24px 10px 24px;
    border-radius: 24px;
    border: 1px solid white;
    transition: 0.2s;

    &:hover {
      background: white;
      color: black;
    }
  }
}

@media #{$breakpoints-medium} {
  .last__box {
    flex: 0 1 25%;
  }
}
