.last {
  font-family: $font-cereal-m;
  background: #191919;
  padding: 124px 0;
  color: white;
}

.last--menu {
  padding: 0;
}

.last__menu {
  width: 100vw;
  text-align: center;
  padding: 8px 0;
  position: sticky;
  z-index: 100;
  top: 0;

  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;

  font-family: $font-cereal-m;
  background: #191919;
  color: white;

  a:last-child {
    padding-right: 24px;
  }


  a:first-child {
    padding-left: 24px;
  }

	a {
		text-decoration: none;
		color: white;
		font-family: $font-cereal-m;
		font-weight: bold;
		font-size: 12px;
		display: inline-block;
		padding: 12px 12px;
    opacity: .6;
    transition: .2s;

    &:hover {
      opacity: 1;
    }
	}
}

.last--footer {
  padding-bottom: 20px;
}

.last__bck {
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;;

  img {
    opacity: .1;

    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 5;
  }
}

.last__content {
  margin: 0 auto;
  width: 90%;
  max-width: 720px;
  z-index: 10;
}

.last__title {
  padding-top: 84px;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 24px;
}

.last__title--gray {
  opacity: .5;
}

.last__paragraph {
  font-size: 20px;
  line-height: 35px;
}

.last__p {
  font-size: 20px;
}

.last__numbers {
  margin: auto;
  max-width: 800px;
  padding: 124px 0 100px 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.last__box {
  flex: 0 1 50%;
  margin-bottom: 24px;
}

.last__big {
  font-size: 48px;
  margin-bottom: 5px;
}

.last__small {
  padding-top: 4px;
  font-size: 18px;
  opacity: .5;
}

.last__btn {
  padding: 48px 0;

  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 12px 24px 10px 24px;
    border-radius: 24px;
    border: 1px solid white;
    transition: 0.2s;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.last__video {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 124px 0 0 0;
  margin-bottom: 124px;
  max-width: 1280px;
  overflow-y: hidden;
}

.last__card {
  flex: 0 1 calc( 50% - 24px);
  padding-right: 24px;
  margin-bottom: 24px;
  transition: .2s;
  min-width: 200px;
}

.video__video {
  position: relative;

  svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc( 50% - 20px);
    left: calc( 50% - 20px);
    z-index: 4;
    transition: .3s;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover {
      img {
        opacity: .7;
      }

      svg {
        transform: translateY(-24px);
        opacity: 0;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    opacity: .4;
    border-radius: 16px;
    position: relative;
    z-index: 2;
    transition: .2s;
  }
}

.last__minutes {
  margin: 12px 0;
  font-size: 13px;
  opacity: .5;
}

.last__vtitle {
  font-size: 18px;
  line-height: 24px;
}

@media #{$breakpoints-medium} {

  .last__menu {
    a {
      font-size: 14px;
    }
  }
  
  .last__box {
    flex: 0 1 25%;
  }
  .last__paragraph {
    font-size: 26px;
  }

  .last__card {
    flex: 0 1 calc( 25% - 24px);
  }
}

@media #{$breakpoints-xlarge} {
  .last__paragraph {
    font-size: 30px;
    line-height: 44px;
  }
}
