.last {
  font-family: $font-cereal-m;
  background: #191919;
  color: white;
}

.last__content {
  margin: 0 auto;
  padding: 124px 0;
  width: 90%;
  max-width: 480px;
}

.last__title {
  font-weight: bold;
  font-size: 24px;
}

.last__p {
  font-size: 20px;
}

.last__numbers {
  margin: auto;
  max-width: 800px;
  padding: 84px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.last__big {
  font-size: 48px;
}

.last__small {
  padding-top: 4px;
  font-size: 18px;
  opacity: .5;
}