.last {
  background: #191919;
  color: white;
}

.last__content {
  margin: 0 auto;
  width: 90%;
  max-width: 480px;
}

.last__title {
  font-weight: bold;
  font-size: 24px;
}

.last__p {
  font-size: 20px;
}