.ponentes {
	display: flex;
	flex-flow: row wrap;
	width: 90%;
	margin: 0 auto;
  padding: 5vh 0 10vh 0;
  //overflow-x: scroll;

	img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: -36px;
    margin-bottom: 12px;
    transition: .4s;
	}
}

.ponentes__card {
  flex: 0 1 50%;
	padding: 24px;
	background: white;
	border: 1px solid #f0f0f0;
  box-sizing: border-box;
  transition: .4s;
  position: relative;

  &:hover {
    background: #f0f0f0;

    img {
      transform: translateY(-8px);
    }
  }
}

.ponentes__content {
  position: relative;
  z-index: 1;
}

.ponentes__link {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ponentes__title {
	h5 {
		font-family: $font-cereal-m;
		font-size: 18px;
		margin-bottom: 10px;
	}

	p {
		opacity: .5;
		font-size: 14px;
    line-height: 22px;
	}
}

@media #{$breakpoints-medium} {
  .ponentes {
    flex-flow: row wrap;
    overflow-x: auto;
    min-width: auto;
  }

  .ponentes__card {
    min-width: auto;
    flex: 0 1 calc(100% / 3);
  }
  .ponentes__title {
    h5 {
      font-size: 20px;
    }
  }
}

@media #{$breakpoints-large} {
  .ponentes__card {
    flex: 0 1 calc(100% / 4);
  }

  .ponentes__title {
    h5 {
      font-size: 24px;
    }
  }
}

@media #{$breakpoints-xlarge} {
  .ponentes__card {
    flex: 0 1 calc(100% / 5);
  }
}

@media #{$breakpoints-xxlarge} {
  .ponentes__card {
    flex: 0 1 calc(100% / 6);
  }
}
