.pricing {
	width: 90%;
	margin: auto;
	padding: 48px 0;
	font-family: $font-cereal-m;
	display: flex;
	flex-flow: row wrap;
}

.pricing__box {
	flex: 0 1 100%;
	transition: .6s;
}

.pricing__card {
	padding: 32px 0 24px 0;
	border: 1px solid #f0f0f0;
	text-align: center;
	position: relative;
}

.pricing__euros {
	font-family: $font-cereal;
	font-size: 62px;
	font-weight: 900;
	margin: 24px 0;

	span {
		font-size: 28px;
	}
}

.pricing__name {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.pricing__day {
	opacity: .5;
}

.pricing__list {
	padding: 24px 0;

	li {	
		display: flex;
		padding-bottom: 23px;
		line-height: 26px;
		padding-right: 28px;

		svg {
			margin-right: 12px;
			width: 20px;
			height: 20px;
			min-width: 20px;
		}
	}

	a {
		display: block;
		padding-left: 26px;
		color: $color-primary;
		// text-decoration: none;
		&:hover {

			color: black;

		}
	}
}


@media #{$breakpoints-medium} {
	.pricing__card {
		margin-right: 24px;
	}

	.pricing__box {
		flex: 0 1 50%;
	}
}

@media #{$breakpoints-xlarge} {
	.pricing {
		flex-flow: row nowrap;
	}

	.pricing__box {
		flex: 0 1 25%;
	}
}
