.pricing {
	width: 90%;
	margin: auto;
	padding: 10vh 0;

	display: flex;
	flex-flow: row wrap;
}

.pricing__box {
	flex: 0 1 25%;
}

.pricing__card {
	padding: 24px;
	border: 1px solid #f0f0f0;
	margin-right: 24px;
	text-align: center
}

.pricing__euros {
	font-size: 48px;
	font-weight: 900;

	span {
		font-size: 28px;
	}
}

.pricing__name {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.pricing__day {
	opacity: .5;
}

.pricing__list {
	padding: 24px 0;

	li {
		padding-left: 16px;
		padding-bottom: 16px;
	}
}