.sponsor {
  width: 90%;
  margin: auto;
  padding: 48px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sponsor__card {
  flex: 0 1 100px;
  margin: 16px;
  display: inline-flex;
  align-items: center;
  transition: .2s;
}

.sponsor__title {
  color: black;
  text-align: center;
  font-size: 11px;
  padding-top: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 16px;
}

.sponsor__link {
  text-decoration: none;
  display: block;
}

.sponsor__img {
  width: 100%;
  height: auto;
  transition: .2s;

  &:hover {
    opacity: .8;
    transform: scale(105%);
  }
}


@media #{$breakpoints-large} {
  .sponsor__card {
    flex: 0 1 145px;
    margin: 48px;
  }
}