
.header.header-fixed.u-unselectable.header-animated
  .header-brand
    .nav-item.no-hover
      a(href='#')
        img(src="../img/logo.svg", alt="logo")
    #header-btn.nav-item.nav-btn
      span
      span
      span
  #header-menu.header-nav
    .nav-right
      .nav-item
        a(href='#') I’m an Influencer
      .nav-item
        a(href='#') The Platform 
      .nav-item
        a(href='#') Meet the Team
      .nav-item
        a(href='#') Get Involved
      .nav-item
        a(href='#') Sign up
      .nav-item.book-demo
        a(href='#book-demo') Book demo